table {
    border-collapse: collapse;
    border-spacing: 0px;
}

thead {
    display: table-header-group;
}

td, th{
    border: 2px solid black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
}

div{
    resize: horizontal;
    overflow: auto;
    max-width: 500px;
    height: 120px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    display: block;
    overflow: hidden;
}

td div, th div{
    border:0;
    width: auto;
    height: auto;
    min-height: 30px;
    min-width: 100%;
}