.custom-resizable-container{
    max-width: 500px;
    max-height: 500px;
    overflow: auto;
}

table.custom-resizable {
    border-collapse: collapse;
    border-spacing: 0px;
}

thead.custom-resizable {
    display: table-header-group;
}

td.custom-resizable, th.custom-resizable{
    border: 2px solid black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.table-row-container.custom-resizable{
    resize: horizontal;    
    max-width: 500px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    display: block;
    overflow: hidden;
}

td.custom-resizable , th.custom-resizable{
    border:0;
    width: auto;
    /* Seteaza in functie de cate col ai */
    height: 20%;
    min-height: 30px;
    min-width: 100%;
}